{% extends "generator/main.html" %}

{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <a class="navbar-brand" href="#">Bukhosi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url "home" %}">Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "about" %}">About Author</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        
        </ul>

        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-twitter"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-facebook"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-linkedin"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
            <i class="fa fa-github"></i>
            </a>
        </li>
        </ul>
    </div>
</nav>

<div style="margin:auto;" class="col-lg-5 col-md-12 col-sm-12 mt-5 mb-4">
    
    <div class="card card-small blog-comments">
        
        <div class="card-header border-bottom">
            <h3 class="m-0">Your Password</h3>
                <div class="mt-3">
                    <a class="btn btn-sm btn-accent" href="{% url "home" %}" ml-auto">
                    <i class="material-icons" >home</i>Home</a>
                    <a href=" {% url "password" %}" class="btn btn-sm btn-outline-accent">
                    <i class="material-icons" >loop</i>Generate</a>
                </div>
                
            
        </div>
        <div class="card-body mt-5 mb-5 p-0 container-fluid">
        <h3 class="alert alert-sm alert-primary" style="text-align:center;" id="myInput">{{ password }}</h3>
        <button class="btn btn-sm btn-accent  ml-3">
        <i class="material-icons" >loop</i>Copy Password</button>
        

            
               
        </div>
    </div>
</div>

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}
</script>

{% endblock content %}
